{% macro render_if_present(attr_name, key_name, resource, prefix="", suffix="") -%}
{% if key_name in resource -%}
{{ attr_name }} = {{prefix}}{{ resource[key_name] }}{{suffix}}
{% endif -%}
{% endmacro -%}

{% macro render_list_attribute(attr_name, resource_key, resource, item_key="name", prefix="", suffix="") -%}
	{{ attr_name }} = [
	{% if resource_key in resource %}
	{% for item in resource[resource_key] %}
	{{ prefix }}{{ item[item_key] }}{{ suffix }}"{{ "," if not loop.last }}
	{% endfor %}
	{% endif %}
	]
{% endmacro -%}
