{% import "terraform/macros.j2" as macros %}

{% for resource in manifest["cf_quotas"] %}
resource "cf_quota" "quota_{{ resource["name"] }}" {
	name = "{{ resource["name"] }}"
	total_services = {{ resource["total_services"] }}
	total_routes = {{ resource["total_routes"] }}
	total_memory = {{ resource["memory_limit"] }}
	{{ macros.render_if_present("instance_memory", "instance_memory_limit", resource) }}
	{{ macros.render_if_present("total_route_ports", "total_reserved_route_ports", resource) }}
	{{ macros.render_if_present("total_app_instances", "app_instance_limit", resource) }}
	{{ macros.render_if_present("total_private_domains", "total_private_domains", resource) }}
	allow_paid_service_plans = {% if resource["non_basic_services_allowed"] %}true{% else %}false{% endif %}

}

{% endfor %}
