	
{% for asg in manifest["cf_security_groups"] %}
"resource" "cf_asg" "asg_{{  asg["name"] }}" {
	
	name = "{{  asg["name"] }}"
	{% for rule in asg["rules"] %}
	rule = {
		protocol = "{{  rule["protocol"] }}"
		destination = "{{  rule["destination"] }}"
		{% if "ports" in rule %}
		ports = "{{ rule["ports"] }}"
		{% endif %}
		{% if "type" in rule %}
		type = {{ rule["type"] }}
		{% endif %}
		{% if "code" in rule %}
		code = {{ rule["code"] }}
		{% endif %}
		{% if "log" in rule %}
		log = {{ rule["log"] }}
		{% endif %}
		{% if "description" in rule %}
		type = {{ rule["description"] }}
		{% endif %}
	}
	{% endfor %}
}
{% endfor %}
