{% for resource in manifest["cf_users"] %}
resource "cf_user" "user_{{ resource["resource_name"]}}" {
	name = "{{ resource["name"] }}"
	{% if "password" in resource %}
	password = "{{ resource["password"] }}"
	{% endif %}
	origin = "{{ resource["origin"] }}"
	{%  if "given_name" in resource %}
	given_name = "{{ resource["given_name"] }}"
	{% endif %}
	{% if "family_name" in resource %}
	family_name = "{{ resource["family_name"] }}"
	{% endif %}
	{% if "email" in resource %}
	email = "{{ resource["email"] }}"
	{% endif %}
	lifecycle {
        		ignore_changes = ["groups"]
    	}
}
{% endfor %}
