{
  "total_results": 1,
  "total_pages": 1,
  "prev_url": null,
  "next_url": null,
  "resources": [
  {% for user in resource %}
    {
      "metadata": {
        "guid": "{{user.guid}}",
        "url": "/v2/users/{{user.guid}}",
        "created_at": "2016-06-08T16:41:35Z",
        "updated_at": "2016-06-08T16:41:26Z"
      },
      "entity": {
        "admin": false,
        "active": false,
        "default_space_guid": null,
        "username": "{{user.userName}}",
        "spaces_url": "/v2/users/{{user.guid}}/spaces",
        "organizations_url": "/v2/users/{{user.guid}}/organizations",
        "managed_organizations_url": "/v2/users/{{user.guid}}/managed_organizations",
        "billing_managed_organizations_url": "/v2/users/{{user.guid}}/billing_managed_organizations",
        "audited_organizations_url": "/v2/users/{{user.guid}}/audited_organizations",
        "managed_spaces_url": "/v2/users/{{user.guid}}/managed_spaces",
        "audited_spaces_url": "/v2/users/{{user.guid}}/audited_spaces"
      }
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ]
}