{
  "metadata": {
    "guid": "{{organization.guid}}",
    "url": "/v2/organizations/{{organization.guid}}",
    "created_at": "2016-06-08T16:41:33Z",
    "updated_at": "2016-06-08T16:41:26Z"
  },
  "entity": {
    "name": "name-1716",
    "billing_enabled": false,
    "quota_definition_guid": "{{organization.quota_guid}}",
    "status": "active",
    "quota_definition_url": "/v2/quota_definitions/{{organization.quota_guid}}",
    "spaces_url": "/v2/organizations/{{organization.guid}}/spaces",
    "domains_url": "/v2/organizations/{{organization.guid}}/domains",
    "private_domains_url": "/v2/organizations/{{organization.guid}}/private_domains",
    "users_url": "/v2/organizations/{{organization.guid}}/users",
    "managers_url": "/v2/organizations/{{organization.guid}}/managers",
    "billing_managers_url": "/v2/organizations/{{organization.guid}}/billing_managers",
    "auditors_url": "/v2/organizations/{{organization.guid}}/auditors",
    "app_events_url": "/v2/organizations/{{organization.guid}}/app_events",
    "space_quota_definitions_url": "/v2/organizations/{{organization.guid}}/space_quota_definitions"
  }
}