{
  "total_results": 1,
  "total_pages": 1,
  "prev_url": null,
  "next_url": null,
  "resources": [
    {
      "metadata": {
        "guid": "{{domain.guid}}",
        "url": "/v2/private_domains/{{domain.guid}}",
        "created_at": "2016-06-08T16:41:35Z",
        "updated_at": "2016-06-08T16:41:26Z"
      },
      "entity": {
        "name": "{{domain.name}}",
        "owning_organization_guid": "{{domain.org_guid}}",
        "owning_organization_url": "/v2/organizations/{{domain.org_guid}}",
        "shared_organizations_url": "/v2/private_domains/{{domain.guid}}/shared_organizations"
      }
    }
  ]
}