{
  "metadata": {
    "guid": "{{resource.guid}}",
    "url": "/v2/spaces/{{resource.guid}}",
    "created_at": "2016-06-08T16:41:40Z",
    "updated_at": "2016-06-08T16:41:26Z"
  },
  "entity": {
    "name": "{{resource.name}}",
    "organization_guid": "{{resource.org_guid}}",
    "space_quota_definition_guid": null,
    "allow_ssh": true,
    "organization_url": "/v2/organizations/{{resource.org_guid}}",
    "developers_url": "/v2/spaces/{{resource.guid}}/developers",
    "managers_url": "/v2/spaces/{{resource.guid}}/managers",
    "auditors_url": "/v2/spaces/{{resource.guid}}/auditors",
    "apps_url": "/v2/spaces/{{resource.guid}}/apps",
    "routes_url": "/v2/spaces/{{resource.guid}}/routes",
    "domains_url": "/v2/spaces/{{resource.guid}}/domains",
    "service_instances_url": "/v2/spaces/{{resource.guid}}/service_instances",
    "app_events_url": "/v2/spaces/{{resource.guid}}/app_events",
    "events_url": "/v2/spaces/{{resource.guid}}/events",
    "security_groups_url": "/v2/spaces/{{resource.guid}}/security_groups",
    "staging_security_groups_url": "/v2/spaces/{{resource.guid}}/staging_security_groups"
  }
}